.ant-layout {

min-height: 800px!important;

}

.icons-custom-del {
    margin-top:"9px";
    font-size: "18px";
    color: "red";
    cursor:"pointer";

}

.icons-custom-edit {

    margin-top:"9px";
    font-size:"18px";
    color:"gray";
    cursor:"pointer";

}

.strikeOut{

    text-decoration: line-through;

}